{% extends "base.html" %}

{% block image %}
<img src="/static/tune_fusion.png" class = "img-fluid mx-auto d-block"></img>
{% endblock %}

{% block content %}
<div class = "container text-center">
  <div class = "row justify-content-center">
    <div class = "col-4 py-4">
      <span>state your names</span>
    </div>
  </div>
  
</div>
<form action = "/data" method = "POST">
  <div class="row justify-content-center">
    <div class="col-4 py-2">
      <input type="text" class="form-control form-control-sm" style = "background:black" name = "username1" placeholder="your last.fm username">
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class="col-4 py-2">
      <input type="text" class="form-control form-control-sm" style = "background:black"  name = "username2" placeholder="your friend's last.fm username">
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class="col-4 py-2">
      <input class="button1" type = "submit" value = "Submit"/>
    </div>
  </div>
</form>

{% endblock %}