{% extends "base.html" %}

{% block image %}
<img src="/static/tune_fusion.png" class = "img-fluid mx-auto d-block"></img>
{% endblock %}

{% block content %}
<div class = "container text-center">
  <div class = "row justify-content-center">
    <h2>{{name}}</h2>
  </div>
  <table style="width:100%" id="playlist">
  <tr>
    <th></th>
    <th>title</th>
    <th>artist</th>
    <th>release</th>
    <th>duration</th>
  </tr>
    {% for song_name, artist_name, album_name, album_img, duration, _ in playlist %}
  <tr>
    <td class='im'><img src='{{album_img}}' width=30px height=30px></td>
    <td>{{song_name}}</td>
    <td>{{artist_name}}</td>
    <td>{{album_name}}</td>
    <td>{{duration}}</td>
  </tr>
    {% endfor %}
  
</table>
</div>


{% endblock %}